src/operating/validation/uploadScriptSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="installationScript">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="scriptName"/>
              <xs:element type="xs:string" name="script"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="scriptProvider">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="signature"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
